    <div class="global-container">
        <div class="card login-form">
            <div class="card-body" style="background-color:#dcdcdc;">
                <h3 class="card-title text-center">Seguimiento - Clientes</h3>
                <div class="card-text">

                    <footer>
                        <a href="#" target="_blank">
                            <img src="/img/icon_6704.png">
                        </a>
                    </footer>

                    <form action="/recuperar_contrasena" method="POST">
                        <div class="form-group mb-3">
                            <label class="form-label" for="exampleInputPassword1">Nombre Usuario</label>
                            <input type="text" class="form-control" required  id="exampleInputPassword1" name="username">
                        </div>
                        <button type="submit" class="btn btn-info">Consultar</button>
                    </form>


                </div>
            </div>
        </div>
    </div>