    <div class="registro">
        <div class="card w-75" style="width:330px;" >
            <div class="card-body" style="background-color:#dcdcdc;">
                <h5 class="card-title text-center">REGISTRO</h5>
                <form action="/registro" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputName1" class="form-label">Nombre</label>
                        <input type="name" class="form-control" id="exampleInputName1" name="nombre_usuario" required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                      <input type="email" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                      <input type="password" required class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Registrarse</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
