<div class="global-container">
    <div class="card w-75">
        <div class="card-body">

            <form method="POST" action="/Seguimiento/agregar/{{user.id_usuario}}">
                <div class="mb-3">
                    <label class="form-label" id="">Nombre Seguimiento</label>
                    <input type="text" class="form-control" name="nombre_seguimiento" id="nombre_seguimiento" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" id="">Descripción</label>
                    <textarea type="text" class="form-control" name="descripcion" id="descripcion" maxlength="700" required></textarea>
                </div>
                <button type="submit" class="btn btn-success" id="boton">Guardar</button>
            </form>

        </div>
    </div>
</div>