<div class="inicio">
    <div class="card text-center">
        <div class="card-body" style="background-color:#dcdcdc;"> 
            <h5 class="card-title">EcuaRefills</h5>
            <img src="img/icon_6704.png"></a>
            <p class="card-text">Modulo de Seguimiento de Clientes</p>
            <form action="/" method="POST">
                <button type="submit" class="btn btn-primary">Siguiente</button>
            </form>
        </div>
    </div>
</div>