<div class="global-container">
    <div class="card w-75">
        <div class="card-body">

            <form method="POST" action="/Actividades/editar/{{user.id_usuario}}">
                {{#each editarActividades}}
                <div class="mb-3">
                    <label class="form-label" id="">Nombre Actividad</label>
                    <input type="text" class="form-control" name="nombre_actividades" id="nombre" value="{{nombre_actividades}}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" id="">Descripción</label>
                    <textarea type="text" class="form-control" name="descripcion_actividad" id="descripcion" maxlength="700"
                        required>{{descripcion}}</textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" id="">Estado</label>
                    <input type="text" class="form-control" name="estado" id="estado" value="{{estado}}" required>
                </div>
                <button type="submit" class="btn btn-success" id="boton">Guardar Cambios</button>
                <hr>
                {{/each}}
            </form>

        </div>
    </div>
</div>